$greenColor: #03C490;

.groupAside{
    a{
        color: #000;
        transition: all 0.2s ease;
        &:hover{
            color: $greenColor;
        }
    }
    .addGroup{
        display: flex;
        align-items: center;
        font-size: 14px;
    }
}

@media screen and (max-width:1023px){
    .groupAside{
        text-align: center;
        ul{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

}