$greenColor: #03C490;

#menu-mobile{
    align-items: center;
    padding: 30px;
    #list-hidden{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
    }
}

#headerNonConnect{
    background-color: $greenColor;
}